<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" />
  </system.web>
  <system.serviceModel>
    <services>
      <service name="BowlingAPI.ServiceLibrary.ServicePlayer" behaviorConfiguration="ServiceBehavior">
        <endpoint address="rest" binding="webHttpBinding" contract="BowlingAPI.ServiceLibrary.IServicePlayer" behaviorConfiguration="restBehavior"/>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      	<endpoint address="" binding="basicHttpBinding" contract="BowlingAPI.ServiceLibrary.IServicePlayer"/>
      </service>
      <service name="BowlingAPI.ServiceLibrary.ServiceGame" behaviorConfiguration="ServiceBehavior">
	      <endpoint address="rest" binding="webHttpBinding" contract="BowlingAPI.ServiceLibrary.IServiceGame" behaviorConfiguration="restBehavior"/>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <endpoint address="" binding="basicHttpBinding" contract="BowlingAPI.ServiceLibrary.IServiceGame"/>
      </service>
      <service name="BowlingAPI.ServiceLibrary.ServiceLane" behaviorConfiguration="ServiceBehavior">
        <endpoint address="rest" binding="webHttpBinding" contract="BowlingAPI.ServiceLibrary.IServiceLane" behaviorConfiguration="restBehavior"/>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <endpoint address="" binding="basicHttpBinding" contract="BowlingAPI.ServiceLibrary.IServiceLane"/>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="ServiceBehavior">
          <serviceMetadata httpGetEnabled="True" httpsGetEnabled="True" />
          <serviceDebug includeExceptionDetailInFaults="True" />
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="restBehavior">
          <webHttp helpEnabled="true" defaultOutgoingResponseFormat="Json" />
        </behavior>
      </endpointBehaviors>
    </behaviors>
  </system.serviceModel>
  <connectionStrings>
        <add name="bowlingEntities" connectionString="metadata=res://*/BowlingModels.csdl|res://*/BowlingModels.ssdl|res://*/BowlingModels.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=localhost;user id=root;password=admin;database=bowling&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>