<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <system.diagnostics>
    <sources>
      <source name="System.ServiceModel" switchValue="Information, ActivityTracing" propagateActivity="true">
        <listeners>
          <add name="traceListener" type="System.Diagnostics.XmlWriterTraceListener" initializeData="C:\log\Traces.svclog" />
        </listeners>
      </source>
    </sources>
  </system.diagnostics>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" maxRequestLength="2147483647" />
  </system.web>
  <system.serviceModel>
    <services>
      <service name="BowlingAPI.ServiceLibrary.ServiceGame">
	      <endpoint address="rest" binding="webHttpBinding" contract="BowlingAPI.ServiceLibrary.IServiceGame" behaviorConfiguration="restBehavior" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
	      <endpoint address="" binding="basicHttpBinding" contract="BowlingAPI.ServiceLibrary.IServiceGame">
	      </endpoint>
      </service>
      <service name="BowlingAPI.ServiceLibrary.ServicePlayer">
	        <endpoint address="rest" binding="webHttpBinding" contract="BowlingAPI.ServiceLibrary.IServicePlayer" behaviorConfiguration="restBehavior" />
			    <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
	        <endpoint address="" binding="basicHttpBinding" contract="BowlingAPI.ServiceLibrary.IServicePlayer">
	        </endpoint>
      </service>
      <service name="BowlingAPI.ServiceLibrary.ServiceLane">
	      <endpoint address="rest" binding="webHttpBinding" contract="BowlingAPI.ServiceLibrary.IServiceLane" behaviorConfiguration="restBehavior" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
	      <endpoint address="" binding="basicHttpBinding" contract="BowlingAPI.ServiceLibrary.IServiceLane">
	      </endpoint>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="restBehavior">
          <webHttp helpEnabled="true" defaultOutgoingResponseFormat="Json" />
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <protocolMapping>
      <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <directoryBrowse enabled="true" />
        <rewrite>
            <rules>
                <rule name="lanes">
                    <match url="^lanes/(.*)$" />
                    <action type="Rewrite" url="LaneService.svc/rest/{R:1}" />
                </rule>
                <rule name="games">
                    <match url="^games/(.*)$" />
                    <action type="Rewrite" url="GameService.svc/rest/{R:1}" />
                </rule>
 		            <rule name="players">
                    <match url="^players/(.*)$" />
                    <action type="Rewrite" url="PlayerService.svc/rest/{R:1}" />
                </rule>
            </rules>
        </rewrite>
      <httpProtocol>
        <customHeaders>
            <add name="access-control-allow-headers" value="content-type" />
            <add name="Access-Control-Allow-Origin" value="*" />
        </customHeaders>
    </httpProtocol>
  </system.webServer>
  <connectionStrings>
    <add name="bowlingEntities" connectionString="metadata=res://*/BowlingModels.csdl|res://*/BowlingModels.ssdl|res://*/BowlingModels.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=localhost;user id=root;password=admin;database=bowling&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="MySql.Data.MySqlClient" type="MySql.Data.MySqlClient.MySqlProviderServices, MySql.Data.Entity.EF6"></provider>
    </providers>
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>